@import url('https://fonts.googleapis.com/css2? family= Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200; 1300;1400;1500;1600;1700;1800;1900 & mostrar=intercambiar');

*{
    font-family: 'Poppins', sans-serif; 
}
header{
    margin: 2rem 2rem 0 2rem;
}
body {
	margin: 0;
	width: 100%;
	background: linear-gradient(#b11e2c, #b11e2c, #b11e2c, #b11e2c);
	background-size: 400% 400%;
	animation: gradiente 1s ease infinite;
}
main{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 90rem;
}

input{
    width: 100%;
    height: 3rem;
    background-color: #fffffff5;
    color: black;
    padding-left: 20px;
    border-radius: 20px;
    border: 0;
    margin-right: 2em;
    font-size: 2rem;
}

.input{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 2rem;
}

.container{
    width: 600px;
    min-height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.all{
    /* height: 60%; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: white;
}
button{
    background: rgb(255,255,0);
    background: linear-gradient(90deg, rgba(255,255,0) 0%, rgba(255,255,0) 74%);
    width: 10rem;
    height: 3rem;
    border: 0;
    border-radius: 60px;
    font-size: 2em;
    font-weight: bold;
}
#pokeImg{
    width: 70%;
}
#types{
    text-transform: uppercase;
}
h3{
    font-size: 2rem;
    text-transform: uppercase;
}
#pokeball{
    width: 1.5rem;
    height: 1.5rem;
    filter: invert(20);
}
.name{
    width: 100%;
    max-width: 20rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.details{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    font-weight: normal;
}
.category{
    width: 100%;
    font-size: 1.3rem;
    font-weight: normal;
    text-transform: uppercase;
}
.stats{
    margin-top: 6rem;
    width: 100%;
    background-color: transparent;;
    color: rgb(255, 255, 255);
    font-family: 'Poppins',sans-serif;
    font-weight: normal;
    padding: 7rem 3rem 1rem 3rem;
    display: flex;
    flex-direction: column;
}

.progres{
    margin-bottom: 1rem;
    margin-top: 1em;
    width: 20rem;
    height: 0.7rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 0.5em;
}

.progres-bg{
    background-color: rgb(255, 255, 255);
    width: 150%;
}
.value{
    background-color:rgb(0, 255, 42);
    width: 0%;
    height: 100%;
}
.start{
    border-radius: 20px 0px 0px 20px;
}
.end{
    border-radius: 0px 20px 20px 0px;
}
.rating{
    position: relative;
    width: 30%;
    top: -20rem;
    left: 12rem;
    transform: rotate(0deg);
}
 }